li, p, dl {
	font-size: 18px;
	line-height: 28px;
}
.container-white-bg {
	background-color: white;
	padding-top: 15px;
	padding-bottom: 15px;
	margin-top: 40px;
	margin-bottom: 40px;
}
.grey-bg {
	background-color: #ddd;
}
.home-section:nth-child(even) {
	background-color: #eee;
}
.home-section {
	padding: 80px 0;
}
.cretan-video {
	margin-bottom: 30px;
}
.home-register {
	position: relative;
	background-color: black;
}
.home-register img{
	width: 100%;
}
.home-register .home-register-text{
	width: 100%;
	text-align: center;
	color: white;
}
.home-register .home-register-text h1{
	font-size: 30px;
}
.home-register .home-register-text h2{
	font-size: 25px;
}

.home-register .home-register-inner {
	color: white;
	text-align: center;
	padding: 20px 10px;
	position: absolute;
	width: 100%;
	bottom: 150px;
}

.home-register .home-register-inner button{
	background-color: transparent;
	font-size: 30px;
	margin-top: 20px;
	padding: 10px 30px;
	border: 2px solid white;
	border-radius: 6px;
	color: white;

}
.home-register .home-register-inner button:focus {
	outline: 0;
}
#home-section-about, #home-section-mission h1 {
	text-align: center;
}
#home-section-mission h1 {
	margin-bottom: 40px;
}

#home-section-sponsors h1,
#home-section-sponsors p {
	text-align: center;
}
#home-section-sponsors h1 {
	margin-bottom: 40px;
}
#home-section-sponsors p {
	margin-top: 30px;
}
#home-section-sponsors .sponsor-logo-div {
	display: flex;
	align-items: left;
	flex-wrap: wrap;
}
#home-section-sponsors img{
	padding: 10px;
	width: 20%;
}
#home-section-philanthropy h1 {
	text-align: center;
	margin-bottom: 40px;
}
#home-section-philanthropy img {
	float: left;
	margin: 0 20px 20px 0;
	height: 120px;
}
#home-section-about h1 {
	margin-bottom: 40px;
}
#home-section-about p{
	text-align: left;
}
#home-section-mission ul{
	list-style-position: inside;
	text-align: left;
}

#home-section-mission p {
	font-weight: bold;
	margin-top: 20px;
}
#home-section-about .pya-logo {
	max-width: 500px;
}
.home-top-slides {
	height: 60vh;
	width: 100%;
}

.pya-nav {
	margin-bottom: 0;
	background-color: #C2C2C2;
	border: 0;
	border-bottom: #0024AB solid 5px;
	border-radius: 0;
	padding: 6px;
}
.pya-nav.navbar-default .navbar-nav>li>a {
	color: #333;
	font-weight: bold;
}

.pya-nav.navbar-default .navbar-toggle {
	border-color: #333 !important;
	background-color: #333 !important;
}
.pya-nav.navbar-default .navbar-toggle .icon-bar {
	background-color: #c2c2c2;
}
.pya-nav.navbar-default .navbar-collapse, .navbar-default .navbar-form {
	border: 0;
	box-shadow: none;
}
.schedule-section .container {
	background-color: white;
}
.schedule-section h1{
	margin-bottom: 40px;
}

.schedule-section dd{
	margin-left: 40px;
}
.schedule-section .schedule-regBtn {
	text-align: center;
	margin-top: 20px;
	margin-bottom: 40px;
}
.schedule-section .schedule-regBtn button{
	font-size: 18px;
}

/*HOTEL PAGE/LOCATION*/
#neaby-food-table {
}
#neaby-food-table p{
	margin-bottom: 0;
	line-height: 20px;
}
.near-food-head {
	font-weight: bold;
	background-color: #ddd;
	padding: 8px 5px;
}
.near-food-row {
	padding: 5px 5px;
	text-align: left;
}
.near-food-row:nth-child(odd) {
	background-color: #ddd;
}
.near-food-col {
	width: 25%;
	display: inline-block;
	margin-right: -4px;
	padding: 0 5px;
	vertical-align: top;
}
.section-hotel h2 {
	margin-bottom: 30px;
}

.activity-name,
.activity-descr span,
.activity-address span,
.activity-dist span {
	font-weight: bold;
}

@media screen and (max-width: 1400px) {
	.home-register .home-register-inner {
		bottom: 100px;
	}
}


@media screen and (max-width: 1200px) {
	.home-register .home-register-inner {
		bottom: 40px;
	}
}

@media screen and (max-width: 992px) {
	#home-section-about h2 {
		text-align: center;
	}
	.home-register .home-register-inner {
		bottom: 0px;
	}
	#home-section-sponsors img {
		width: 25%;
	}
}
@media screen and (max-width: 768px) {
	.home-top-slides {
		height: 30vh;
	}
}
@media screen and (max-width: 767px) {
	.home-section {
		padding: 40px 0;
	}
	.home-register .home-register-inner {
		position: initial;
	}
	.home-register .home-register-inner button{
		font-size: 18px;
		margin-top: 10px;
	}
	#home-section-philanthropy {
		text-align: center;
	}
	#home-section-philanthropy p{
		text-align: left;
	}
	#home-section-philanthropy img {
		float: none;
		margin: 0 0 20px 0;
		height: unset;
		max-width: 100%;
	}
	#home-section-sponsors img {
		width: 33.333%;
		min-width: 150px;
	}
	/*HOTEL/LOCATION PAGE*/

	.near-food-col {
		width: 100%;
		display: block;
		margin-right: 0px;
	}
	.near-food-col p span{
		line-height: 28px;
	}
	.near-food-col p span{
		font-weight: bold;
	}
	.near-food-row:nth-child(odd) {
		background-color: white;
	}
	.near-food-row:nth-child(even) {
		background-color: #ddd;
	}
	.activity {
		margin-bottom: 30px;
	}
}
@media screen and (max-width: 500px) {
	#home-section-sponsors .sponsor-logo-div {
		display: block;
	}
	#home-section-sponsors img {
		width: 200px;
		max-width: 100%;
		margin: auto;
		display: block;
	}
}